<div class="whole-kid-page">
  <h1>Le jeu du hamster</h1>
  <div class="game-box">
    @if(!play) {<button (click)="setPlay()" class="play-button">
      <img src="/play-1000-svgrepo-com.svg" /></button
    >} @if(play){ @if(isHealthy) {<img
      class="hamster2base"
      src="/okHamster.png"
    />} @if(isSick) {
    <img class="hamster2base" src="/sickHamster.webp" />
    } @if(isBasic){
    <img class="hamster2base" src="/normalHamster.webp" />
    }
    <div class="button-container">
      <button (click)="setHamsterSick()">
        <img src="/pngtree-3d-burger-illustration-png-image_12494513.png" />
      </button>
      <button (click)="setHamsterSick()">
        <img
          src="/pizza-3d-icon-download-in-png-blend-fbx-gltf-file-formats--delicious-logo-slice-food-fast-and-drink-pack-breakfast-icons-6777459.webp"
        />
      </button>
      <button (click)="setHamsterHealthy()">
        <img src="/carrot.webp" />
      </button>
      <button (click)="setHamsterSick()">
        <img src="/hotDog.webp" />
      </button>
    </div>
    }
  </div>
  <button (click)="goToMainPage()" class="play-button" id="home">
    <img src="/home-3-svgrepo-com.svg" />
  </button>
</div>
