@if(!displayLogin()) {
<p class="first-p">
  L’objectif du jeu du hamster est de conserver le plus d’hamsters, le plus
  longtemps possible.
</p>
<p>
  À chaque mois, vous pouvez choisir d’acheter ou de vendre un ou plusieurs
  hamsters, d’acheter de la nourriture, des cages ou de passer au mois suivant.
</p>
<p>
  Le jeu se termine quand tous les hamsters sont
  <br />
  <img src="/skull-svgrepo-com.svg" /> MORTS
  <img src="/skull-svgrepo-com.svg" />.
</p>

<button (click)="startGame()">Jouer</button>}
 @if(displayLogin()) {
<app-login (closeLogin)="closeLoginDisquette()"></app-login>
}

<!-- @if(!displayLogin) {
<button (click)="goToKidPage()">Kids</button>} -->
