@use "../../../styles.scss" as v;

p {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin: auto;
}
img {
  width: 15px;
}
.first-p {
  margin-top: 1em;
}

.button-play {
  @extend .button-play-again;
  margin-top: 1em;
  font-size: 1.5em;
}

.button-nico {
  background-color: yellow;
  border: none;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
