<!-- <div class="records-container">
  <p><img src="first-first-place-svgrepo-com.svg" /> {{ monthRecord }} mois</p>
  <p>
    <img src="skull-svgrepo-com.svg" />
    {{ totalHamstersDead }}
  </p>
</div> -->

@if(endOfGame) {
<div class="game-over">
  <h3>GAME OVER</h3>
  <p class="red">TOUS LES HAMSTERS SONT MORTS</p>
  <p class="lol">La SPA, L214, PETA et Brigitte Bardot seront informées...</p>
  <p>Vous avez tenu {{ monthNumber }} mois.</p>
  <div class="bilan-game-over">
    <p>
      Hamsters morts : {{ maleHamsterDeadAll + femaleHamsterDeadAll }} |
      Hasmters vendus : {{ hamsterSold }}
    </p>
    <p>
      Hamsters passés par l'élevage :
      {{ hamsterSold + maleHamsterDeadAll + femaleHamsterDeadAll }}
    </p>
  </div>
  <button routerLink="/leaderboard" class="leaderboard-button">
    <img src="/coupe.png" />Leaderboard
  </button>

  <button class="next-month-button" (click)="resetAll()">Rejouer</button>
</div>
} @else {

<h2>Situation du mois : {{ monthNumber }}</h2>

<div class="month-death">
  <p [ngClass]="deathByHunger > 0 ? 'red' : 'white'">
    <img class="skull-icon" src="/skull-svgrepo-com.svg" alt="Skull icon" />
    MORTS DE FAIM : {{ deathByHunger }}
  </p>
  <p [ngClass]="deathBySuffocation > 0 ? 'red' : 'white'">
    <img class="skull-icon" src="/skull-svgrepo-com.svg" alt="Skull icon" />
    MORTS ÉTOUFFÉS : {{ deathBySuffocation }}
  </p>
</div>
<div class="separator"></div>

<div class="hamster-month-container">
  <div class="gender-hamster">
    <h3>Mâles</h3>
    <p>Adultes : {{ maleAdultHamsters }}</p>
    <p>Petits : {{ maleSmallHamsters }}</p>
  </div>
  <div class="gender-hamster">
    <h3>Femelles</h3>
    <p>Adultes : {{ femaleAdultHamsters }}</p>
    <p>Petits : {{ femaleSmallHamsters }}</p>
  </div>
  <div class="gender-hamster">
    <h3>Cages</h3>
    <p>Nbre : {{ cage }}</p>
    <p>Nbre/cage : {{ hamstersByCage.toFixed(1) }}</p>
  </div>
</div>

<div class="separator"></div>

<div class="month-price">
  <p>Prix du hamster ce mois-ci : {{ hamsterPrice }}fr</p>
  <p>Prix de la cage : {{ cagePrice }}fr</p>
  <p>Prix de la boite de nourriture : {{ foodPrice }} fr</p>
</div>

<div class="stocks">
  <p class="yellow" id="one-line-stock">
    <img class="icon-money" src="/moneyIcon.webp" />ARGENT : {{ money }}fr
  </p>
  <p class="yellow" id="one-line-stock">
    <img class="icon-food" src="/foodIcon.webp" />NOURRITURE :
    {{ foodStock }} kg
  </p>
</div>

@if (showGameEvent) {
<app-card-selector
  (eventApplied)="onGameEventApplied($event)"
  (continueToGame)="continueToActions()"
>
</app-card-selector>
} @else {
<h2>Actions</h2>
<div class="tips-button-container">
  @if(!displayTips) {<button class="help-button" (click)="handleTips()">
    ?</button
  >} @else {<button class="help-button" (click)="handleTips()">
    <span class="red">X</span></button
  >}
</div>
@if(displayTips) {
<div class="help-container">
  <div class="one-line-tip">
    Les prix des hamsters / cages / nourriture changent chaque mois. Vendez ou
    achetez au bon moment !
  </div>
  <div class="one-line-tip">
    Si vous avez au moins un hamster mâle et un hamster femelle, ils ont une
    chance de s'accoupler pour le prochain mois. Les petits hamsters deviennent
    adultes après un mois.
  </div>
  <div class="one-line-tip">
    Parfois il faut savoir se séparer d'un hamster pour la survie du reste de
    son espèce ...
  </div>
</div>
}
<div class="one-action-container">
  <div>
    Vendre des hamsters mâles ?
    <button id="oui" (click)="sellMale(true)" value="true">OUI</button>
  </div>
  @if (wantsToSellMale){
  <div class="how-many-container">
    <div>
      Combien ?
      <input
        type="number"
        [(ngModel)]="maleSold"
        (ngModelChange)="setMaleSold($event)"
        max="{{ maleAdultHamsters }}"
      />
      <button class="plus" (click)="incrementMaleSold()">+</button>
      <button class="minus" (click)="decrementMaleSold()">-</button>
    </div>
    @if(maleSold > 0){<span class="yellow">+ {{ getPriceMaleSold() }}fr</span>}
  </div>
  }
</div>
<div class="one-action-container">
  <div>
    Vendre des hamsters femelles ?
    <button (click)="sellFemale(true)" value="true" id="oui">OUI</button>
  </div>
  @if (wantsToSellFemale){
  <div class="how-many-container">
    <div>
      Combien ?
      <input
        type="number"
        [(ngModel)]="femaleSold"
        (ngModelChange)="setFemaleSold($event)"
        max="{{ femaleAdultHamsters }}"
      />
      <button class="plus" (click)="incrementFemaleSold()">+</button>
      <button class="minus" (click)="decrementFemaleSold()">-</button>
    </div>
    @if(femaleSold > 0) {<span class="yellow"
      >+ {{ getPriceFemaleSold() }}fr</span
    >}
  </div>
  }
</div>
<div class="one-action-container">
  <div>
    Acheter des hamsters ? @if (!canBuyHamster) {
    <p class="red">
      Vous n'avez pas les fonds nécessaires
      <button (click)="cancelBuyHamster()">Retour</button>
    </p>

    } @else {
    <button (click)="buyHamster(true)" id="oui" value="true">OUI</button>
    }
  </div>
  @if (wantsToBuyHamster && canBuyHamster) {
  <div class="how-many-container">
    <div>
      Combien ?
      <input
        type="number"
        [ngModel]="hamstersToBuy"
        (ngModelChange)="setHamstersToBuy($event)"
        [max]="getMaxAffordableHamsters()"
        min="0"
      />
      <button class="plus" (click)="incrementHamstersToBuy()">+</button>
      <button class="minus" (click)="decrementHamstersToBuy()">-</button>
    </div>
    @if(hamstersToBuy > 0) {
    <span class="yellow">- {{ getPriceHamstersBought() }}fr</span>
    }
  </div>
  }
</div>
<div class="one-action-container">
  <div>
    Acheter cage ? @if (!canBuyCage) {
    <p class="red">
      Vous n'avez pas les fonds nécessaires
      <button (click)="cancelBuyCage()">Retour</button>
    </p>
    } @else {
    <button (click)="buyCage(true)" id="oui" value="true">OUI</button>
    }
  </div>
  @if (wantsToBuyCage && canBuyCage) {
  <div class="how-many-container">
    <div>
      Combien ?
      <input
        type="number"
        [(ngModel)]="cagesBought"
        (ngModelChange)="setCagesBought($event)"
        [max]="getMaxAffordableCages()"
        min="0"
        placeholder="Max: {{ getMaxAffordableCages() }}"
      />
      <button class="plus" (click)="incrementCagesBought()">+</button>
      <button class="minus" (click)="decrementCagesBought()">-</button>
    </div>

    @if(canBuyCage && cagesBought > 0) {
    <span class="yellow">- {{ getPriceCagesBought() }}fr</span>}
  </div>
  }
</div>
<div class="one-action-container">
  <div>
    Acheter nourriture ? @if (!canBuyFood){
    <p class="red">
      Vous n'avez pas les fonds nécessaires
      <button (click)="cancelBuyFood()">Retour</button>
    </p>
    } @else {
    <button (click)="buyFood(true)" id="oui" value="true">OUI</button>
    }
  </div>
  @if (wantsToBuyFood && canBuyFood) {
  <div class="how-many-container">
    <div>
      Combien ?
      <input
        type="number"
        [(ngModel)]="foodBought"
        (ngModelChange)="setFoodBought($event)"
        [max]="getMaxAffordableFood()"
        min="0"
        placeholder="Max: {{ getMaxAffordableFood() }}"
      />
      <button class="plus" (click)="incrementFoodBought()">+</button>
      <button class="minus" (click)="decrementFoodBought()">-</button>
    </div>
    @if(foodBought>0 && foodBought > 0) {<span class="yellow"
      >- {{ getPriceOfFoodBought() }} fr</span
    >}
  </div>
  }
</div>

@if (getMoneyForNextMonth() >= 0) {
<button class="next-month-button" (click)="onNextMonth()">Prochain mois</button>
<p class="preview-next-month">Prochain mois</p>

<div class="end-of-month-container">
  <p class="yellow" id="money-next-month">
    <img class="icon-money" src="/moneyIcon.webp" />
    {{ getMoneyForNextMonth() }} fr
  </p>
  <p class="yellow" id="money-next-month">
    <img class="icon-food" src="/foodIcon.webp" />
    {{ getFoodForNextMonth() }} kg
  </p>
</div>
} @if (getMoneyForNextMonth() < 0) {
<p class="red" id="no-neg">
  Vous ne pouvez pas être en négatif ! <br />Vendez des hamsters ou retirez des
  achats
</p>
} } }
