@import "../../../styles.scss";

* {
  font-size: 1.1em;
}
.hamster-month-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin: 2em;
}

.stocks {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}
#one-line-stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}
.month-death,
.month-price {
  margin-left: 2em;
}

.month-death {
  margin-top: 1em;
  p {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 25%;
  }
}
.month-price {
  margin-top: 1em;
}

.one-action-container {
  margin-left: 2em;
  margin-top: 1em;

  button {
    background-color: $black;
    border: none;
    color: $white;
    margin: 0 1em;
  }
  input {
    background-color: $black;
    border-bottom: 3px $white solid;
    border-top: none;
    border-right: none;
    border-top: none;
    width: 20%;
    color: $white;
  }
}

.how-many-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

#oui {
  color: $green;
}

#non {
  color: red;
}
.next-month-button {
  @extend .button-play-again;
  margin-bottom: 2em;
  margin-top: 1em;
}
#money-next-month {
  margin-bottom: 2em;
}
.end-of-month-container {
  text-align: center;
  margin: 1em;
}

.icon-food {
  width: 30px;
}

.icon-money {
  width: 30px;
}

.skull-icon {
  width: 20px;
  margin-right: 0.5em;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  h3 {
    color: $red;
    font-size: 2em;
  }
  .lol {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  button {
    margin-top: 1em;
  }
}

#no-neg {
  text-align: center;
  margin-bottom: 2em;
}

.tips-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 2em;
}
.help-button {
  border-radius: 100%;
  background-color: $black;
  color: $white;
  border: 2px solid $white;
  height: 30px;
  width: 30px;
}

.help-container {
  border-radius: 25px;
  border: 3px solid $white;
  padding: 1em;
  margin-right: 2em;
  margin-left: 2em;
  .one-line-tip {
    margin: 2em 0;
  }
}
